html,
body {
    height: 100%;
    width: 100%;
}

/*    /* Reset default styles */
* {
    background-color: rgb(195, 190, 190);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* GLOBAL VARIABLES */
/* GLOBAL VARIABLES */
:root {
    --black: #000000;
    --headings: #E9B824;
    --iaEngine: #2278ee;
    --listFont: "Concert One", sans-serif;
    --pargraphStrong: #EE9322;
    --pratWhitney: #ee2222;
    --proceedNext: #00008b;
    --strong: #0A6847;
    --warningsBreakers: #D83F31;

    /* WARNING NOTES / CIRCUIT BREAKERS*/
    /* DEFAULT */
    /* HEADINGS */
    /* PROCEED NEXT */
    /* STRONG TAGS */
    /* PARAGRAPH STRONG */
}

/* All Link Attributes */
a {
    background-color: transparent;
    color: var(--proceedNext);
    text-decoration: none;
}

/*  *PARENT* Main container */
#container {
    border: 5px solid #333333;
    border-bottom: rgb(195, 190, 190);
    height: 90%;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}

strong {
    background-color: #3330;
    color: #0A6847;
}

p strong {
    color: #EE9322;
}



#altHeader {
    background-color: var(--pargraphStrong);
    color: black;
    font-size: 16px;
    position: relative;
    text-align: center;
    width: 100%;

    /* left: 0px; */
}

h3 {
    color: var(--strong);
    font-size: 15px;
}

/* ENGINE ATTRIBUTES */
.pratWhitney {
    background-color: var(--pratWhitney);
}

/* Header */
#beforeEngStart {
    background-color: #E9B824;
    border: 2px solid white;
    border-bottom-color: black;
    font-size: 16px;
    position: relative;
    text-align: center;
}

/* WARNING NOTES */
.warningNotes {
    color: var(--warningsBreakers);
    font-family: var(--listFont);
    font-size: 13px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 100%;

    /* left: 0px; */
}

/* *CHILD-ONE* List Item Notes */
.listItemsNotes {
    color: #D83F31;
    font-family: var(--listFont);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    list-style-type: square;
    position: relative;
    width: 100%;

    /* border: 2px solid rgb(187, 9, 9); */
}

/* YELLOW UPON HOVER */
.listItems:hover,
a:hover,
.proceedNext {
    color: yellow;
}

.listItems,
#engNotes {
    font-family: var(--listFont);
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    list-style: none;
}

/* CRANK ATTEMPTS */
#cranks {
    list-style: disc;
}

/* CRANKS A-B-C LETTER */
.crankLetters {
    color: var(--proceedNext);
}

ul {
    padding-left: 5%;
    position: relative;
}

li {
    left: 9%;
    padding: 5px;
    position: relative;
    width: 90%;
}

.proceedNext {
    color: var(--proceedNext);
    font-size: 13px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 10px;
    width: 100%;

    /* left: 0px; */
}

/* Page  */
#page {
    font-size: 1em;
    height: auto;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 20px;
    width: 100%;

    /* border: 2px solid red; */
}

/* Footer styles */
/* Footer styles */
footer {
    background-color: #333;
    bottom: 0px;
    color: #fff;
    height: 11%;
    left: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer p {
    background-color: #333;
    position: relative;
    top: 30px;
}

/* MEDIA QUERIES BELOW */
/*  max-width: 420px) */
@media only screen and (max-width: 428px) {
    #container {
        height: 90%;
    }

    .itemsBox {
        line-height: 27px;
        top: 25px;
    }

    #page {
        top: 15px;
    }

    .proceedNext {
        top: 10px;
    }

    footer {
        height: 10%;
    }
}

/*  max-width: 390x) */
@media only screen and (max-width: 393px) {
    #container {
        height: 90%;
    }

    .itemsBox {
        line-height: 26px;
        top: 0px;
    }

    .proceedNext {
        top: 0px;
    }

    footer {
        height: 10%;
    }

    /* THIS CONTROLS THE SECOND PRROCEED NEXT CONTAINER FOR BETTER POSITIONING */
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    #container {
        height: 91%;
    }

    footer p {
        padding: 5px;
    }
}

#page {
    padding: 10px;
    top: 0px;
}