   /* Reset default styles */
   * {
      background-color: rgb(195, 190, 190);
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
   }

   /* GLOBAL VARIABLES */
   :root {
      --black: #000000;
      --headings: #E9B824;
      --pargraphStrong: #EE9322;
      --proceedNext: #00008b;
      --strong: #0A6847;
      --warningsBreakers: #D83F31;

      /* WARNING NOTES / CIRCUIT BREAKERS*/
      /* DEFAULT */
      /* HEADINGS */
      /* PROCEED NEXT */
      /* STRONG TAGS */
      /* PARAGRAPH STRONG */
   }

   /* YELLOW UPON HOVER */
   .listItems:hover,
   a:hover,
   .proceedNext:hover {
      color: yellow;
   }

   /* All Link Attributes */
   a {
      background-color: transparent;
      color: var(--black);
      text-decoration: none;
   }

   .header {
      background-color: #E9B824;
      border: 2px solid white;
      border-bottom-color: black;
      font-size: 1.5em;
      height: auto;
      position: relative;
      text-align: center;
      width: 100%;
   }

   h5 {
      font-family: "Concert One", sans-serif;
      font-size: 15px;
      font-style: normal;
      margin: 5px;
   }

   /* Main container */
   #container {
      border: 5px solid #333333;
      height: 92vh;
      overflow-y: scroll;
      position: absolute;
      width: 100%;
   }

   /* Main Column Attributes */
   .column {
      display: flex;
      flex: 1;
      flex-basis: 100%;
      flex-direction: column;
      margin: 5%;

      /* border: 2px solid red; */
   }

   strong {
      background-color: #3330;
      color: var(--strong);
   }

   p strong {
      color: var(--pargraphStrong)
   }

   /* Heading Attributes */
   /* LIST ITEM HEADINGS */
   /* PROCEED NEXT */
   .proceedNext {
      bottom: 15px;
      color: var(--proceedNext);
      font-family: "Concert One", sans-serif;
      font-size: 15px;
      padding: 5px;
      position: relative;
      text-align: center;
      width: 100%;

      /* left: 0px; */
   }

   /* Page  */
   #page {
      bottom: 5px;
      font-size: 1em;
      height: auto;
      position: relative;
      text-align: center;
      text-align: center;
      width: 100%;

      /* border: 2px solid green; */
   }


/* Footer styles */
footer {
   background-color: #333;
   bottom: 0px;
   color: #fff;
   height: 11%;
   left: 0px;
   position: fixed;
   text-align: center;
   width: 100%;
 }
 
 footer p {
   background-color: #333;
   padding: 20px;
 }
 
 
 
 
 /* MEDIA QUERIES BELOW */
 
    /* Extra small devices (phones, 320px and down) */
    @media only screen and (max-width: 320px) {
     #container{ height: 90%;}
     footer{height: 11%;}
     footer p{ padding: 5px;}
    } 
    
    #page {
     bottom: 5px;
     padding: 10px;
 }
 
 
   @media only screen and (max-width: 428px) {
   #container{
    height: 90%;
    
   } 
 }