/*    /* Reset default styles */
* {
  background-color: rgb(195, 190, 190);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* GLOBAL VARIABLES */
:root {
  --black: #000000;
  --headings: #E9B824;
  --pargraphStrong: #EE9322;
  --proceedNext: #00008b;
  --strong: #0A6847;
  --warningsBreakers: #D83F31;
  --iaEngine: #2278ee;
  --pratWhitney: #ee2222;
  --listFont:"Concert One", sans-serif;

  /* WARNING NOTES / CIRCUIT BREAKERS*/
  /* DEFAULT */
  /* HEADINGS */
  /* PROCEED NEXT */
  /* STRONG TAGS */
  /* PARAGRAPH STRONG */
}
/* All Link Attributes */
a {
  background-color: transparent;
  color: var(--proceedNext);
  text-decoration: none;
}

/*  *PARENT* Main container */
#container {
  border: 5px solid #333333;
  border-bottom: rgb(195, 190, 190);
  height: 90%;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}

strong {
  background-color: #3330;
  color: var(--strong);
}

p strong {
  color: var(--headings);
}

/* Header */
#controlSafety {
  background-color: var(--headings);
  border: 2px solid white;
  border-bottom-color: black;
  font-size: 1.5em;
  position: relative;
  text-align: center;
}

/* *CHILD-ONE* List Item Notes */
.listItemsNotes {
  color: var(--warningsBreakers);
  font-family: "Concert One", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  list-style-type: square;
  padding: 0;
  position: relative;
  width: 100%;

  /* border: 2px solid rgb(187, 9, 9); */
}

/* YELLOW UPON HOVER */
/* YELLOW UPON HOVER */
.listItems:hover,
a:hover,
.proceedNext {
  color: yellow;
}

/* *CHILD-TWO*  */
#preTaxi {
  color: black;
  height: auto;
  position: relative;
  top: 8px;
  width: 100%;
  z-index: 4;

  /* border: 2px solid green; */
  /* padding: 20px; */
}

#preTaxi li {
  font-family: "Concert One", sans-serif;
  list-style: none;
}

ul {
  padding-left: 5%;
  position: relative;
}

li {
  left: 9%;
  padding: 5px;
  position: relative;
  width: 90%;
}

/* External Power page PG:2 */
#apuPowerStartPage {
  color: var(--proceedNext);
  font-family: "Concert One", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  position: relative;
  text-align: center;
  top: 15px;
  width: 100%;

  /* border: 2px solid red; */
  /* bottom: 410px; */
}

/* Page  */
#page {
  font-size: 1em;
  height: auto;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 20px;
  width: 100%;

  /* border: 2px solid red; */
}

/* Footer styles */

/* Footer styles */
footer {
  background-color: #333;
  bottom: 0px;
  color: #fff;
  height: 11%;
  left: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer p {
  background-color: #333;
  padding: 20px;
}





/* MEDIA QUERIES BELOW */

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 428px) {
  #container {
    height: 91%;
  }

  footer p {
    padding: 5px;
  }

  #page {
    padding: 15px;
  }

  #apuPowerStartPage {
    top: 20px;


  }
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  #container {
    height: 89%;
  }

  footer p {
    padding: 5px;
  }

  #page {

    padding: 5px;
    top: 20px;

  }
}