   /* Reset default styles */
   * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(195, 190, 190);

}

/* All Link Attributes */
a{
    color: black;
    text-decoration: none;
<<<<<<< HEAD
=======
    background-color: transparent;
>>>>>>> c0425ede99514f9c405699b571698acd8eeb2048
}

/* Main container */
#container {
<<<<<<< HEAD
    height: 820px;
=======
    height: 1060px;
>>>>>>> c0425ede99514f9c405699b571698acd8eeb2048
    border: 5px solid #333333;
}

 

strong{
  background-color:#3330;
<<<<<<< HEAD
   color: hsl(115, 82%, 22%); 
=======
   color: #0A6847; 
>>>>>>> c0425ede99514f9c405699b571698acd8eeb2048
}


p strong{
    color: #EE9322;
}


<<<<<<< HEAD
 
=======
/* Header Attributes */
.header {
    position: relative;
    border: 2px solid white;
    font-size: 1.5em;
    text-align: center;
    background-color: #E9B824;
    border-bottom-color: black;
}

>>>>>>> c0425ede99514f9c405699b571698acd8eeb2048

/* Heading Attributes */
h3 {
    position: relative;
    width: 100%;
    /* left: 0px; */
    text-align: center;
    font-size: 19px;
<<<<<<< HEAD
    
}

.towingEngRun, 
.aputStartBatPwer,
.aputStartExtPwer{

    background-color: #E9B824;
}

.proceedNext{
    position: relative;
    width: 100%;
    /* left: 0px; */
    text-align: center;
    font-size: 13px;
    padding: 5px;
    color: hsl(215, 82%, 22%); 
}

.warningNotes{
    position: relative;
    width: 100%;
    /* left: 0px; */
    text-align: center;
    font-size: 11px;
    padding: 5px;
    color: #D83F31; 

}

=======
    background-color: #EE9322;

}


>>>>>>> c0425ede99514f9c405699b571698acd8eeb2048
/* Main Column Attributes */
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 5%;
    /* border: 2px solid red; */
}




/* List Item Attributes  */
.listItems {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin:5px;
     
}


/* Emergency Checklist */
.emergencyCheck{
 background-color:#D83F31;
}

/* Supplemental NFO */
.suppleNfo{
 background-color: #219C90 ;
}

/* Back Button */
#backButton {
    position: fixed;
    background-color: #3333332b;
    border-radius: 100%;
    border: 3px solid #333;
    color: #333;
    font: italic bold 1.2em "Fira Sans", sans-serif;
    height: 25px;
    top: 2px;
    right: 6px;
    text-align: center;
    width: 25px;
    z-index: auto;
}
 

/* Footer styles */
footer p{
    position: fixed;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0px;
    width: 100%;
}