/* Extra small devices (phones, 320px and down) */
   @media only screen and (max-width: 320px) {
 #container{ height: 91%;}
 footer p{ padding: 5px;}
} 
 
 /* @media only screen and (max-width: 420px) {
  #container{
   height: 90%;
   
  } 
  */

/*  Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 768px) { */


 
/* } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { */
   
    
 
/* }  */

/* Extra large devices (large laptops and desktops, 1440px and up) */
/* @media only screen and (min-width: 1024px) { */
  
    
  
/* } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 1200px) { */
  
 

   

   
/* }  */

/* Extra large devices (large laptops and desktops, 1440px and up) */
/* @media only screen and (min-width: 1440px) { */
  

 
  
/* } */

/* Extra large devices (large laptops and desktops, 2560px and up) */
 /* @media only screen and (min-width: 2560px) { */
  
    

/* }    */