   /* Reset default styles */
   * {
      background-color: rgb(195, 190, 190);
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
   }

   /* NEED TO FIX THESE HOVER LINKS COLORS! */
   /* All Link Attributes */
   a {
      background-color: transparent;
      color: black;
      text-decoration: none;
   }

/* GLOBAL VARIABLES */
 
:root {
   --black: #000000;
   --headings: #E9B824;
   --pargraphStrong: #EE9322;
   --proceedNext: #00008b;
   --strong: #0A6847;
   --warningsBreakers: #D83F31;
   --iaEngine: #2278ee;
   --pratWhitney: #ee2222;
   --listFont:"Concert One", sans-serif;
 
   /* WARNING NOTES / CIRCUIT BREAKERS*/
   /* DEFAULT */
   /* HEADINGS */
   /* PROCEED NEXT */
   /* STRONG TAGS */
   /* PARAGRAPH STRONG */
 }


   /* Main container */
   #container {
      border: 5px solid #333333;
      height: 90%;
      overflow-y: scroll;
      position: absolute;
      width: 100%;
   }

   strong {
      background-color: #3330;
      color: var(--strong);
   }

   p strong {
      color: var(--pargraphStrong);
   }

   /* Header Attributes */
   .header {
      background-color: var(--headings);
      border: 2px solid white;
      border-bottom-color: black;
      font-size: 1.5em;
      height: auto;
      position: relative;
      text-align: center;
      width: 100%;
   }

   /* Heading Attributes */
   h2 {
      background-color: var(--pargraphStrong);
      font-size: 19px;
      position: relative;
      text-align: center;
      width: 100%;
      color:black;

      /* left: 0px; */
   }

   /* Main Column Attributes */
   .column {
      display: flex;
      flex: 1;
      flex-basis: 100%;
      flex-direction: column;
      margin: 5%;

      /* border: 2px solid red; */
   }

   /* Emergency Checklist */
   .emergencyCheck {
      background-color: var(--warningsBreakers);
   }

   /* List Item Attributes  */
   .listItems {
      font-family: var(--listFont);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      margin: 5px;
      color: black;
   }
   li{
      list-style:none;
   }

   /* YELLOW UPON HOVER */
   .listItems:hover, a:hover,
    strong:hover{
      color: yellow;
   } 
  
   .iaeEngine, 
   .iaeEngineHeader{
      color:var(--iaEngine);
   }
   
   .pratWhitney,
   .pratWhitneyHeader{
      color:var(--pratWhitney);
   }


   span.iaeEngineHeader,
   span.pratWhitneyHeader  {
background-color: var(--pargraphStrong);
   }


.engClass{
   background-color: var(--pargraphStrong);
   font-size: 19px;
   position: relative;
   text-align: center;
   width: 100%;
   padding: 5px; 
}



   /* Supplemental NFO */
   .suppleNfo {
      background-color: var(--iaEngine);
   }

   /* Footer styles */
   footer {
      background-color: #333;
      bottom: 0px;
      color: #fff;
      height: 11%;
      left: 0px;
      position: fixed;
      text-align: center;
      width: 100%;
   }

   footer p {
      background-color: #333;
      padding: 20px;
   }


 
 

/* MEDIA QUERIES BELOW */
 



   /* Extra small devices (phones, 320px and down) */
   @media only screen and (max-width: 320px) {
      #container{ height: 91%;}
      footer p{ padding: 5px;}
     
     
     #page{
       top:15px;
     padding: 10px; }
   
   
   } 