   /* Reset default styles */
   * {
        background-color: rgb(195, 190, 190);
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
     }
   /* NEED TO FIX THESE HOVER LINKS COLORS! */
   /* All Link Attributes */
   a {
        background-color: transparent;
        color: black;
        text-decoration: none;
     }
   /* Main container */
   #container {
        border: 5px solid #333333;
        height: 90%;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
     }
   strong {
        background-color: #3330;
        color: #0A6847;
     }
   p strong {
        color: #EE9322;
     }
   /* Header Attributes */
   .header {
        background-color: #E9B824;
        border: 2px solid white;
        border-bottom-color: black;
        font-size: 1.5em;
        height: auto;
        position: relative;
        text-align: center;
        width: 100%;
     }
   /* Heading Attributes */
   h3 {
        background-color: #EE9322;
        font-size: 19px;
        position: relative;
        text-align: center;
        width: 100%;

        /* left: 0px; */
     }
   /* Main Column Attributes */
   .column {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        flex-direction: column;
        margin: 5%;

        /* border: 2px solid red; */
     }
   /* Emergency Checklist */
   .emergencyCheck {
        background-color: #D83F31;
     }
   /* List Item Attributes  */
   .listItems {
        font-family: "Concert One", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        margin: 5px;
     }
   /* YELLOW UPON HOVER */
   .listItems:hover,
   a:hover {
        color: yellow;
     }
   /* Supplemental NFO */
   .suppleNfo {
        background-color: #219C90;
     }
   /* Footer styles */
   footer{
      background-color: #333;
      bottom: 0px;
      color: #fff;
      height:11%;
      left: 0px;
      position: fixed;
      text-align: center;
      width: 100%;
   }
   footer p {
        background-color: #333;
      padding: 20px;

     }